# jupyter config
.ipynb_checkpoints

# R configs
*.Rhistory
.Rproj.user
.RData

# ignore vscode config
*.vscode

# ignore some data
*.pdf

# Ignore python cache
__pycache__

#ignore caches
*cache*

# Secrets
*scraper_api_key
*scraperapi_api_key
*wos_api_key
*wos_api
*email
*zotero_api
*scraperapi_api_key
*log

#raw data folders
data/raw*

