# jupyter config
.ipynb_checkpoints

# R configs
*.Rhistory
.Rproj.user
.RData

# ignore vscode config
.vscode

# ignore some data
*.pdf

# Ignore python cache
__pycache__

#ignore caches
*cache*

# Secrets
code/scrapy-spider/scholar/spiders/scraperapi_api_key
code/wos_api_key
code/wos_api
*email
